<ngb-accordion activeIds="{{dataService.currentObject}}" (panelChange)="beforeChange($event)" style="padding:1em;">
  <ngb-panel *ngFor="let itemObject of dataService.Objects; let i = index" id="{{i}}">
    <ng-template ngbPanelTitle>
      <span>{{itemObject.LuggageClaimObject}}
        <div *ngIf="itemObject.Coverage" style="float:right;" class="btn btn-sm btn-outline-{{ itemObject.Coverage == 'Covered' ? 'success' : 'danger'}}">{{ itemObject.Coverage }}</div>
      </span>
    </ng-template>
    <ng-template ngbPanelContent>
      <p>Brand:&nbsp; {{ itemObject.Brand }}</p>
      <p> Coverage:&nbsp; {{ itemObject.Coverage }}</p>
      <p>Amount:&nbsp; {{ itemObject.CoverageAmount }}</p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
