<div class="jumbotron" style="padding:0px">
  <div class="container" id="smallheader">
    <img src="/assets/avolaairportsmall.png" />
    <h1 class="display-4">Avola Rocks: Travel claim handling</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="margin-top:1em;margin-bottom:1em;">Your items</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Object</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Coverage</th>
            <th>Mandate</th>
            <th>Compensation Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemObject of dataService.Objects; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ itemObject.LuggageClaimObject }}</td>
            <td>{{ itemObject.Brand }}</td>
            <td>{{ itemObject.Model }}</td>
            <td>{{ itemObject.Coverage }}</td>
            <td>{{ itemObject.SettlementMandate }}</td>
            <td>{{ itemObject.CoverageAmount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="margin-top:1em;" class="col-sm-3 offset-md-9">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Total:&nbsp;&#8364;{{dataService.totalCalculatedCompensationAmount}}</h3>
          <button *ngIf="!claimed" class="btn btn-primary" (click)="claim()">Claim</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="claimed && dataService.finalSettlementMandate">
    <div style="margin-top:5em;" class="col-md-12" [ngSwitch]="dataService.finalSettlementMandate">
      <div *ngSwitchCase="'Flexible Mandate'" class="col-sm-6 offset-md-3">
        <div class="card text-center">
          <div class="card-header"></div>
          <div class="card-block">
            <h4 class="card-title">Claim handled!</h4>
            <p class="card-text">The following amount of:<b>&nbsp;&#8364;{{dataService.totalCalculatedCompensationAmount}}</b> will be transferred
              to your bank account.</p>
            <img style="max-width:120px;max-height:120px;width:auto;height:auto;" src="../../assets/pigybank.png" alt="bank" />
            <a style="margin:2em;" href="#" class="btn btn-primary">Home</a>
          </div>
          <div class="card-footer text-muted">
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'No Flexible Mandate'" class="col-sm-4 offset-md-4">
        <div class="card text-center">
          <div class="card-header"></div>
          <div class="card-block">
            <h4 class="card-title">Claim is on hold.</h4>
            <p class="card-text">The claim you submitted will need to be reviewed. We will keep you informed about the status via email.</p>
            <img style="max-width:120px;max-height:120px;width:auto;height:auto;" src="../../assets/fillform.png" alt="bank" />
            <a style="margin:2em;" href="#" class="btn btn-primary">Home</a>
          </div>
          <div class="card-footer text-muted">
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'NoConclusion'" class="col-sm-4 offset-md-4">
        <div class="alert alert-danger" role="alert">
          An error occurred while handling the claim, please try again later.
        </div>
      </div>
      <div *ngSwitchCase="'Error'" class="col-sm-4 offset-md-4">
        <div class="alert alert-danger" role="alert">
          An error occurred while handling the claim, please try again later.
        </div>
      </div>
    </div>
  </div>
</div>
