<div class="jumbotron" style="padding:0px">
  <div class="container" id="smallheader">
    <img src="./assets/avolaairportsmall.png" />
    <h1 class="display-4">Avola Rocks: Travel claim handling</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>You are covered by the policy</h2>
      <div class="card-block text-nowrap">
        <div class="form-group row">
          <label for="claim-object" class="col-12 col-form-label">{{dataService.mappedDatas[14].Question}}</label>
          <div class="col-12">
            <ng2-completer
              [(ngModel)]="selectedItem"
              [datasource]="completerDataService"
              [minSearchLength]="0"
              [inputClass]="'form-control'"
              [placeholder]="'Search and select an object'"
              [clearSelected]="true"
              [pause]="0"
              (selected)="onSelected($event)">
				    </ng2-completer>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12 col-form-label" *ngIf="dataService.Objects.length > 0">Selected objects:</label>
          <div class="col-12">
            <ul class="list-group">
              <li class="list-group-item justify-content-between" *ngFor="let item of dataService.Objects; let i = index">
                {{item.LuggageClaimObject}}
                <button class="btn btn-primary btn-sm" (click)="removeObject(item, i)">Remove</button>
            </ul>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" (click)="gatherObjectInformation()">Enter details &raquo;</button>
    </div>
  </div>
</div>
