<div class="jumbotron" style="padding:0px">
  <div class="container" id="smallheader">
    <img src="/assets/avolaairportsmall.png" />
    <h1 class="display-4">Avola Rocks: Claim handling</h1>
  </div>
</div>
<div class="container">
<div class="row">
  <div class="col-md-12">
    <h2>You are covered by the policy</h2>
    <div class="card-block text-nowrap">
      <div class="form-group row">
        <label for="claim-object" class="col-12 col-form-label">Which objects were stolen, damaged or lost?</label>
        <div class="col-12">
          <input class="form-control" type="text" value="" id="claim-object" placeholder="Enter the object and press enter" [(ngModel)]="object.LuggageClaimObject" (keyup)="keyPressed($event.keyCode)">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-12 col-form-label" *ngIf="dataService.Objects.length > 0">Selected objects:</label>
        <div class="col-12">
          <ul class="list-group">
            <li class="list-group-item justify-content-between" *ngFor="let item of dataService.Objects; let i = index">
              {{item.LuggageClaimObject}}
              <button class="btn btn-primary btn-sm" (click)="removeObject(item, i)">Remove</button>
          </ul>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="gatherObjectInformation()">Enter details &raquo;</button>
  </div>
</div>
</div>

