<div class="jumbotron" style="padding:0px">
  <div class="container" id="smallheader">
    <img src="/assets/avolaairportsmall.png" />
    <h1 class="display-4">Avola Rocks: Claim handling</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Decision services</h2>
      <p>Please specify the version number for each decision service</p>
      <ul class="list-group">
        <li class="list-group-item justify-content-between">Determine Travel Policy Coverage (ID:5)<span>version: <input type="number" style="max-width: 50px" value="1" ></span></li>
        <li class="list-group-item justify-content-between">Determine Luggage Claim Object Coverage (ID:2)<span>version: <input type="number" style="max-width: 50px" value="1" ></span></li>
        <li class="list-group-item justify-content-between">Determine Luggage Claim Object Calculated Compensation Amount (ID:1)<span>version: <input type="number" style="max-width: 50px" value="2" ></span></li>
        <li class="list-group-item justify-content-between">Determine Luggage Claim Object Settlement Mandate (ID:3)<span>version: <input type="number" style="max-width: 50px" value="1" ></span></li>
        <li class="list-group-item justify-content-between">Determine Travel Claim Settlement Mandate (ID:4)<span>version: <input type="number" style="max-width: 50px" value="1" ></span></li>
      </ul>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-md-12">
      <button [disabled]="dataService.selectedPolicy == null" class="btn btn-primary" (click)="goToTravelInfo()">Provide travel information &raquo;</button>
    </div>
  </div>
</div>
