<div class="row">
  <div class="col-md-12">
    <h2>Something bad happened on your vacation?</h2>
    <div class="card-block text-nowrap">
      <div class="form-group row">
        <label for="policynumber">Before we can indemnify the costs we need your policy number:</label>
        <input id="policynumber" type="text" class="form-control" [(ngModel)]="policynumber" />
      </div>
    </div>
    <div *ngIf="policyNumberNotFound" class="alert alert-danger" role="alert">
      <strong>Oh snap!</strong> Change a few things up and try submitting again.
    </div>
    <button class="btn btn-primary" (click)="getPolicy()">Travel information &raquo;</button>
  </div>
</div>
