<div class="jumbotron" style="padding:0px">
  <div class="container" id="smallheader">
    <img src="/assets/avolaairportsmall.png" />
    <h1 class="display-4">Avola Rocks: Travel claim handling</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Detailed information of {{dataService.Objects[dataService.currentObject].LuggageClaimObject}}</h2>
      <div class="card-block text-nowrap">
        <div class="form-group row">
          <label for="claim-object-date" class="col-9 col-form-label">{{dataService.mappedDatas[21].Question}}</label>
          <div class="col-9">
            <input class="form-control" type="date" value="" id="claim-object-date" [(ngModel)]="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObjectPurchaseDate">
          </div>
        </div>
        <div class="form-group row">
          <label for="claim-object-value" class="col-9 col-form-label">{{dataService.mappedDatas[22].Question}}</label>
          <div class="col-9">
            <input class="form-control" type="number" value="" id="claim-object-value" [(ngModel)]="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObjectPurchaseValue">
          </div>
        </div>
        <div *ngIf="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObject == 'Laptop Computer'"
          class="form-group row">
          <fieldset class="form-group col-9">
            <label>{{dataService.mappedDatas[23].Question}}</label>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="objectRepairRadioButton" [value]="repair.ValueForTrue" [(ngModel)]="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObjectRepair">
                {{repair.ValueForTrue}}
            </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="objectRepairRadioButton" [value]="repair.ValueForFalse" [(ngModel)]="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObjectRepair">
                {{repair.ValueForFalse}}
            </label>
            </div>
          </fieldset>
        </div>
        <div *ngIf="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObjectRepair == 'Repair'"
          class="form-group row">
          <label for="claim-object-repair" class="col-9 col-form-label">{{dataService.mappedDatas[24].Question}}</label>
          <div class="col-9">
            <input class="form-control" type="number" value="" id="claim-object-repair" [(ngModel)]="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObjectRepairValue">
          </div>
        </div>
        <div *ngIf="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObject == 'Money'"
          class="form-group row">
          <label for="claim-object-persons" class="col-9 col-form-label">{{dataService.mappedDatas[40].Question}}</label>
          <div class="col-9">
            <input class="form-control" type="number" value="" id="claim-object-persons" [(ngModel)]="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].TravelNumberofInsuredPersons">
          </div>
        </div>
        <div *ngIf="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObject == 'Cosmetics'"
          class="form-group row">
          <fieldset class="form-group col-9">
            <label>{{dataService.mappedDatas[20].Question}}</label>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="objectOpenedRadioButton" [value]="opened.ValueForTrue" [(ngModel)]="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObjectOpened">
                {{opened.ValueForTrue}}
            </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="objectOpenedRadioButton" [value]="opened.ValueForFalse" [(ngModel)]="dataService.listLuggageClaimObjectCalculatedCompensationAmount[dataService.currentObject].LuggageClaimObjectOpened">
                {{opened.ValueForFalse}}
            </label>
            </div>
          </fieldset>
        </div>
      </div>
      <div *ngIf="dataService.Objects[this.dataService.currentObject].CoverageAmount" class="alert alert-info" role="alert">
        Ka-ching! You will receive: <b>{{dataService.Objects[this.dataService.currentObject].CoverageAmount}}</b> as compensation
        amount for this item.
      </div>
      <div *ngIf="errorAmountCalculation" class="alert alert-danger" role="alert">
        Oops! We couldn't figure out the amount for this item, please continue.
      </div>
      <button *ngIf="!dataService.Objects[this.dataService.currentObject].CoverageAmount && !errorAmountCalculation" class="btn btn-primary" (click)="checkAmount()">Check Compensation &raquo;</button>
      <div *ngIf="dataService.Objects[this.dataService.currentObject].CoverageAmount || errorAmountCalculation">
        <button *ngIf="dataService.Objects.length > dataService.currentObject+1" class="btn btn-primary" (click)="nextDetail(true)">Next object &raquo;</button>
        <button *ngIf="dataService.Objects.length <= dataService.currentObject+1" class="btn btn-primary" (click)="nextDetail(false)">Proceed &raquo;</button>
      </div>
    </div>
    <div class="col-md-4">
      <object-accordion></object-accordion>
    </div>
  </div>
</div>
