<div class="row">
  <div class="col-md-12">
    <h2>Hi {{dataService.selectedPolicy.Name}}, tell us a bit about your trip!</h2>
    <div class="card-block text-nowrap">
      <div class="form-group row">
        <label for="business-travel" class="col-12 col-form-label">Are you travelling for business?</label>
        <div class="col-12">
          <input class="form-control" type="text" value="" id="business-travel">
        </div>
      </div>
      <div class="form-group row">
        <label for="travel-startdate" class="col-12 col-form-label">What was the start date of your travel?</label>
        <div class="col-12">
          <input class="form-control" type="search" value="" id="travel-startdate">
        </div>
      </div>
      <div class="form-group row">
        <label for="travel-enddate" class="col-12 col-form-label">What was the end date of your travel?</label>
        <div class="col-12">
          <input class="form-control" type="email" value="" id="travel-enddate">
        </div>
      </div>
      <div class="form-group row">
        <label for="winter-sports-travel" class="col-12 col-form-label">Are you practicing winter sports during your travel?</label>
        <div class="col-12">
          <input class="form-control" type="url" value="" id="winter-sports-travel">
        </div>
      </div>
      <div class="form-group row">
        <label for="travel-destination-country" class="col-12 col-form-label">Which country did you travel to?</label>
        <div class="col-12">
          <input class="form-control" type="url" value="" id="travel-destination-country">
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="getIncidentInfo()">Incident &raquo;</button> </div>
</div>
