<div class="jumbotron" style="padding:0px">
  <div class="container" id="smallheader">
    <img src="/assets/avolaairportsmall.png" />
    <h1 class="display-4">Avola Rocks: Travel claim handling</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Information of {{dataService.Objects[dataService.currentObject].LuggageClaimObject}}</h2>
      <div class="card-block text-nowrap">
        <div class="form-group row">
          <label for="claim-object-brand" class="col-12 col-form-label">What was the brand name and model of the object?</label>
          <div class="col-8">
            <ng2-completer
              [(ngModel)]="dataService.Objects[dataService.currentObject].Brand"
              [datasource]="completerDataServiceBrand"
              [minSearchLength]="0"
              [pause]="0"
              [inputClass]="'form-control'"
              [placeholder]="'Search and select a brand'"
              (selected)="onSelected($event)">
				    </ng2-completer> 
          </div>
          <div class="col-8">
            <ng2-completer
              [(ngModel)]="dataService.Objects[dataService.currentObject].Model"
              [datasource]="completerDataServiceModel"
              [disableInput]="modelList.length == 0 || !dataService.Objects[dataService.currentObject].Brand"
              [minSearchLength]="0"
              [inputClass]="'form-control'"
              [placeholder]="'Search and select a model'">
				    </ng2-completer> 
          </div>
        </div>
        <div class="form-group row">
          <label class="col-9 col-form-label">{{dataService.mappedDatas[10].Question}}</label>
          <div class="col-9">
            <select class="form-control" type="url" value="" [(ngModel)]="dataService.listLuggageClaimObjectCoverage[dataService.currentObject].LuggageClaimObjectLocation">
            <option *ngFor="let location of objectLocation.Items" [ngValue]="location.Value">{{location.Value}}</option>
          </select>
          </div>
        </div>
        <div class="form-group row">
          <fieldset class="form-group col-9">
            <label>{{dataService.mappedDatas[9].Question}}</label>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="objectInHandRadioButton" [value]="handLuggage.ValueForTrue" [(ngModel)]="dataService.listLuggageClaimObjectCoverage[dataService.currentObject].LuggageClaimObjectinHandLuggage">
                {{handLuggage.ValueForTrue}}
            </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="objectInHandRadioButton" [value]="handLuggage.ValueForFalse" [(ngModel)]="dataService.listLuggageClaimObjectCoverage[dataService.currentObject].LuggageClaimObjectinHandLuggage">
                {{handLuggage.ValueForFalse}}
            </label>
            </div>
          </fieldset>
        </div>
      </div>
      <div *ngIf="notCovered" class="alert alert-warning" role="alert">
        Sorry, we don't cover this object, please continue.
      </div>
      <button *ngIf="notCovered" class="btn btn-primary" (click)="nextObject()">Proceed &raquo;</button>
      <button *ngIf="!notCovered" class="btn btn-primary" (click)="checkCoverage()">Next &raquo;</button>
    </div>
    <div class="col-md-4">
      <object-accordion></object-accordion>
    </div>
  </div>
</div>
