/* You can add global styles to this file, and also import other style files */
*{
  font-family: "Ubuntu";
}

.btn-primary {
  color: #fff;
  background-color: #f07d1a;
  border-color: #f07d1a;
}

.btn-primary:disabled {
  background-color: #eceeef;
  border-color: #eceeef;
  color: black;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0a4a63;
  border-color: #0a4a63;
}

.active[_ngcontent-c1] {
  font-weight: bold;
  color: black;
  border-bottom-color: #f07d1a !important;
}

#header {
  background-image: url(./assets/avolaairport.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 500px;
}

#smallheader {
  background-image: url(./assets/avolaairportsmall.png);
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: right;
  padding: 4rem 1rem;
}

#smallheader img {
  width: 150px;
  margin-bottom: 20px;
  display: none;
}

#header h1 {
  padding-top: 485px;
  text-align: center;
}

footer {
  text-align: right;
}

ngb-accordion a {
  color: black !important;
}


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {
  #header {
    height: 350px;
  }
  #header h1 {
    padding-top: 354px;
    font-size: 3rem;
  }
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  #header h1 {
    padding-top: 330px;
  }
  #smallheader {
    background-image: none;
    text-align: center;
  }
  #smallheader img {
    display: inline-block;
  }
  #smallheader h1 {
    font-size: 2.5rem;
  }
}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  #header {
    height: 200px;
  }
  #header h1 {
    padding-top: 210px;
    font-size: 2.2rem;
  }
  #smallheader {
    background-image: none;
    text-align: center;
  }
  #smallheader img {
    display: inline-block;
  }
  #smallheader h1 {
    font-size: 2.5rem;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  #header h1 {
    padding-top: 190px;
    font-size: 1.7rem;
  }
  #smallheader {
    background-image: none;
    text-align: center;
  }
  #smallheader img {
    display: inline-block;
  }
  #smallheader h1 {
    font-size: 1.7rem;
  }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
  #header h1 {
    padding-top: 160px;
    font-size: 1.7rem;
  }
  #smallheader img {
    display: inline-block;
  }
  #smallheader {
    background-image: none;
    text-align: center;
  }
  #smallheader h1 {
    font-size: 1.7rem;
  }
}

.av-list-selected {
  background: #eceeef;
}

/* Loading screen */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  top:30%;
  left:45%;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #f07d1a;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
