<div class="row">
  <div class="col-md-12">
    <h2>Tell us more about the incident, please.</h2>
    <div class="card-block text-nowrap">
      <div class="form-group row">
        <label for="travel-claim-event-date" class="col-12 col-form-label">When did the incident take place?</label>
        <div class="col-12">
          <input class="form-control" type="text" value="" id="travel-claim-event-date">
        </div>
      </div>
      <div class="form-group row">
        <label for="crime" class="col-12 col-form-label">Was the reported incident caused by a crime or an attempt to crime?</label>
        <div class="col-12">
          <input class="form-control" type="search" value="" id="crime">
        </div>
      </div>
      <div class="form-group row">
        <label for="sport-practiced" class="col-12 col-form-label">Were you practicing any of the following sports during the incident? If so, indicate which.</label>
        <div class="col-12">
          <input class="form-control" type="email" value="" id="sport-practiced">
        </div>
      </div>
    </div>
    <div *ngIf="notCovered" class="alert alert-warning" role="alert">
      Sorry, looks like you are not covered for this time!
    </div>
    <button class="btn btn-primary" (click)="checkCoverage()">Objects &raquo;</button> </div>
</div>
