<div class="jumbotron" style="padding:0px">
  <div class="container" id="smallheader">
    <img src="./assets/avolaairportsmall.png" />
    <h1 class="display-4">Avola Rocks: Travel claim handling</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Tell us more about the incident, please.</h2>
      <div class="card-block text-nowrap">
        <div class="form-group row">
          <label class="col-12 col-form-label">{{dataService.mappedDatas[5].Question}}</label>
          <div class="col-12">
            <select class="form-control" type="url" value="" [(ngModel)]="dataService.LuggageClaimCause">
            <option *ngFor="let cause of luggageClaimCause.Items" [ngValue]="cause.Value">{{cause.Value}}</option>
          </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="travel-claim-event-date" class="col-12 col-form-label">{{dataService.mappedDatas[83].Question}}</label>
          <div class="col-12">
            <input class="form-control" type="date" value="" id="travel-claim-event-date" [(ngModel)]="dataService.travelClaimEventDate">
          </div>
        </div>
        <div class="form-group row">
          <fieldset class="form-group col-12">
            <label>{{dataService.mappedDatas[45].Question}}</label>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="crimeRadioButton" [value]="crimeorAttempttoCrime.ValueForTrue" [(ngModel)]="dataService.checkPolicyCoverage.CrimeorAttempttoCrime">
                {{crimeorAttempttoCrime.ValueForTrue}}
            </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
              <input type="radio" class="form-check-input" name="crimeRadioButton" [value]="crimeorAttempttoCrime.ValueForFalse" [(ngModel)]="dataService.checkPolicyCoverage.CrimeorAttempttoCrime">
                {{crimeorAttempttoCrime.ValueForFalse}}
            </label>
            </div>
          </fieldset>
        </div>
        <div class="form-group row">
          <label for="sport-practiced" class="col-12 col-form-label">{{dataService.mappedDatas[52].Question}}</label>
          <div class="col-12">
            <select class="form-control" type="url" value="" id="travel-destination-country" [(ngModel)]="dataService.checkPolicyCoverage.SportPracticed"> 
                <option *ngFor="let sport of sportsPracticed.Items" [ngValue]="sport.Value">{{sport.Value}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="notCovered" class="alert alert-warning" role="alert">
        Sorry, looks like you are not covered for this time!
      </div>
      <button class="btn btn-primary" (click)="checkCoverage()">Define objects &raquo;</button> </div>
  </div>
</div>
